@import url("https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*  Custom Scrollbar */
::-webkit-scrollbar {
  background: rgba(110, 77, 12, 0.622);
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #000000;
  width: 10px;
  border-radius: 10px;
}
.see {
  height: 300px;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.219));
  width: 100%;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  width: 100%;
}
.tit {
  color: #fff;
  font-size: 30px;
  font-family: "Playwrite VN", sans-serif;
  font-weight: 400px;
  transition: 0.8s ease;
}
.tit:hover {
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  color: transparent;
  font-weight: 900px;
  transform: scale(1.1);
}
.nav-search {
  width: 30%;
  position: relative;
}
.search {
  width: 100%;

  color: rgb(255, 255, 255);
  border: none;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  outline: none;
  border-radius: 15px;
  border-bottom: 1px solid #ffffff;
  background: none;
}
.search::placeholder {
  color: #ffffff;
  font-size: 20px;
}
.search-icon {
  color: #ffffff;
  position: absolute;
  font-size: 20px;
  right: 0;
  padding: 10px;
  top: 0;
}
.nav-item {
  /* width: 30%; */
  display: flex;
  /* justify-content: space-around; */
  gap: 10px;
  color: #fff;
}
.item {
  /* background-color: wheat; */
  padding: 10px;
  font-size: 20px;
  /* border-radius: 10px; */
  border-bottom: 1px solid #fff;
}
.item:hover {
  cursor: pointer;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  gap: 50px;
}
video {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
}
.title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
h1 {
  font-family: "Playwrite VN", sans-serif;
  font-weight: bolder;
  font-size: 7rem;
  color: #fff;
  margin-bottom: 2rem;
  transition: 0.5s;
  text-shadow: 5px 0 1px black;
}
h1:hover {
  -webkit-text-stroke: 2px white;

  color: transparent;
}
a {
  text-decoration: none;
  color: white;
  border: 2px solid #fff;
  padding: 0.5rem 2rem;
  /* font-family: "Playwrite VN"; */
  font-size: 2rem;
  transition: 0.5s;
  border-radius: 10px;
  text-shadow: 5px 5px 3px black;
}
a:hover {
  color: black;
  background-color: white;
  /* text-shadow: 1px 0px 1px rgb(90, 79, 79); */
  text-shadow: none;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  height: 50px;
}
.load {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  margin-top: 10px;
  animation: load 1s ease infinite;
}
.one {
  animation-delay: 0.3s;
}
.two {
  animation-delay: 0.4s;
}
.three {
  animation-delay: 0.5s;
}
.four {
  animation-delay: 0.6s;
}
@keyframes load {
  0% {
    width: 30px;
    height: 30px;
  }
  50% {
    width: 20px;
    height: 20px;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video {
    width: auto;
    height: 100%;
  }
}
@media (min-aspect-ratio: 16/9) {
  .video {
    width: 100%;
    height: auto;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
